body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2196f3;
}

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 50px;
}

img {
  width: 100%;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project-list .project-title {
  font-size: 18px;
  line-height: 2;
  font-weight: bold;
  letter-spacing: 0.06em;
  margin: 0;
}

.project-list .project-subtitle {
  font-size: 18px;
  line-height: 2;
  margin: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  margin: 0;
  margin-top: 4px;
}

.project-list-item {
  width: 370px;
  border: 1px solid #eeeeee;
}

.project-list-item:hover .project-transform-text,
.project-list-item:focus .project-transform-text {
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
}

.project-list-item:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .project-list-item {
    margin-bottom: 30px;
  }
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.project-transform-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  margin: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.project-title {
  color: #212121;
}

.project-item {
  padding: 20px 24px;
}

@media screen and (min-width: 768px) {
  .project-list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: -15px;
  }
  .project-list-item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .project-list-item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

.logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-color {
  color: #212121;
}

.logo-footer {
  color: #ffffff;
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.our-header {
  width: 100%;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link .site-nav-link:hover,
.site-nav-link .site-nav-link:focus {
  color: #2196f3;
  cursor: pointer;
}

.site-nav-link.current {
  position: relative;
  color: #2196f3;
}

.underline-element {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.auth-nav {
  display: flex;
  align-items: center;
}

.auth-nav-contact {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav-contact:hover svg, .auth-nav-contact:hover,
.auth-nav-contact:focus svg, .auth-nav-contact:focus {
  fill: #2196f3;
  color: #2196f3;
  cursor: pointer;
}

.header-mail-icon,
.header-smartphone-icon {
  fill: #757575;
  margin-right: 10px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px;
  }
  .site-nav-link {
    text-align: center;
  }
  .our-header {
    display: flex;
    justify-content: space-between;
  }
  .main-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 393px;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 60px;
    border-top: 1px solid #ececec;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 2;
  }
  .main-nav.is-open {
    display: block;
  }
  .main-nav .site-nav {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .main-nav .site-nav-link {
    padding-top: 0;
  }
  .main-nav .site-nav-link:last-child {
    padding-bottom: 60px;
  }
  .auth-nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .auth-nav-item {
    margin-top: 16px;
  }
  .underline-element {
    position: absolute;
    bottom: 45px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
  .menu-button .icon-cross {
    display: none;
  }
  .menu-button.is-open .icon-menu {
    display: none;
  }
  .menu-button.is-open .icon-cross {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .auth-nav-item {
    margin-left: 53px;
  }
  .site-nav-item {
    margin-left: 53px;
  }
  .site-nav-item:nth-child(1) {
    margin-left: 88px;
  }
  .menu-button {
    display: none;
  }
  .our-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .auth-nav {
    flex-wrap: nowrap;
  }
}

.footer-address {
  margin-bottom: 60px;
  text-align: center;
}

.footer-contacts {
  margin-bottom: 60px;
  margin: 0 auto;
}

.footer-contacts-item {
  text-align: center;
  margin-top: 0;
  margin-bottom: 9px;
}

.footer-contacts-text {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.6;
  margin-top: 20px;
}

.footer-contacts-text:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.6;
}

.join-us-text,
.signup-text {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  margin-top: 30px;
}

.signup-text,
.join-us-text,
.join-us,
.signup-area {
  text-align: center;
}

.signup-input {
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  color: #ffffff;
  outline: none;
}

@media screen and (min-width: 480px) {
  .signup-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    justify-content: space-between;
  }
  .join-us-text,
  .footer-contacts-item {
    text-align: left;
  }
  .footer-link {
    display: inline-block;
    text-align: justify;
  }
  .join-us-text {
    text-align: justify;
  }
  .logo-footer {
    text-align: justify;
  }
  .footer-address {
    text-align: justify;
  }
  .signup-area {
    display: flex;
  }
  .signup-input {
    width: 358px;
  }
  .signup-text,
  .join-us-text,
  .join-us,
  .signup-area {
    text-align: center;
  }
  .signup-text,
  .join-us-text,
  .join-us,
  .signup-area {
    text-align: justify;
  }
}

.list-buttons .item {
  margin-right: 8px;
}

.list-buttons .item:last-child {
  margin-right: 0;
}

.portfolio-button {
  font-weight: 500;
  padding: 6px 22px;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover, .portfolio-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

.portfolio-button:last-child {
  margin-right: 0;
}

@media screen and (min-width: 480px) {
  .portfolio-button {
    margin-bottom: 15px;
  }
  .list-buttons {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .list-buttons {
    align-items: center;
    justify-content: center;
  }
}

.team-socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-socials .social-item {
  margin-right: 10px;
  margin-bottom: 30px;
}

.team-socials .social-item:last-child {
  margin-right: 0;
}

.team-socials .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-color: transparent;
  fill: #afb1b8;
  border-radius: 50%;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials .social-link:hover, .team-socials .social-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
  cursor: pointer;
}

.team-socials .social-link.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  fill: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.team-socials .social-link.footer:hover, .team-socials .social-link.footer:focus {
  background-color: #2196f3;
  cursor: pointer;
}

.team-socials .social-icon {
  height: 22px;
  width: 22px;
}

.button.primary {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  border-radius: 4px;
  border: #2196f3;
  margin-top: 30px;
  padding: 10px 32px;
  cursor: pointer;
}

.button.primary:hover, .button.primary:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button.primary.footer {
  position: relative;
  display: inline-flex;
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  margin-left: 12px;
  margin-top: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button.primary.footer::after {
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translateY(-50%);
  background-image: url("../images/footer-icons/icon-send.svg");
  width: 24px;
  height: 24px;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

.button.primary.button-form {
  display: block;
  margin: 0 auto;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=portfolio.css.map */