/* portfolio buttons */

.buttons {
	display: flex;
	flex-wrap: wrap;

	justify-content: center;

	& .item {
		margin-right: 8px;
		margin-bottom: 50px;
	}

	& .item:last-child {
		margin-right: 0;
	}
}

.portfolio-button {
	font-weight: 500;
	padding: 6px 22px;
	font-size: 16px;
	line-height: 1.6;
	background-color: #f5f4fa;
	border-radius: 4px;
	border: 1px solid transparent;
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: $accent-color;
		color: #ffffff;
		cursor: pointer;
	}

	&:last-child {
		margin-right: 0;
	}
}
