.button.primary {
	display: inline-flex;
	text-align: center;
	justify-content: center;

	color: #ffffff;
	background-color: $accent-color;

	width: 200px;
	height: 50px;
	letter-spacing: 0.06em;
	font-size: 16px;
	line-height: 1.8;
	text-align: center;
	border-radius: 4px;
	border: $accent-color;
	margin-top: 30px;
	padding: 10px 32px;
	cursor: pointer;

	&:hover,
	&:focus {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	&.footer {
		position: relative;

		display: inline-flex;
		position: relative;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.88;
		margin-left: 12px;
		margin-top: 0;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	&.footer::after {
		position: absolute;
		top: 50%;
		right: 7%;
		transform: translateY(-50%);
		background-image: url("../images/footer-icons/icon-send.svg");
		width: 24px;
		height: 24px;
		content: "";
		background-repeat: no-repeat;
		background-position: center;
	}

	&.button-form {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 31px;
		transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

		&:hover,
		&:focus {
			background-color: #188ce8;
		}
	}
}
